.App {
	text-align: center;
}

.App-header {
	background-color: #c5d0e7;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(255, 0, 0);
}

.container {
	width: 100%;
	max-width: fit-content;
}